<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AdobeExpressSuite">
  <test thread-count="5" name="RemoveBGTest">
    <classes>
      <class name="sln.tests.RemoveBG"/>
    </classes>
  </test> <!-- RemoveBGTest -->
</suite> <!-- AdobeExpressSuite -->
